body {
    margin: 0;
}

.slider {
    margin: 0 auto;
    width: 500px;
}

.slider__button {
    display: none;
}

.slider__button-point {
    background: aqua;
    border-radius: 100%;
    display: block;
    height: 10px;
    width: 10px;
}

.slider__slide {
    opacity: 0;
}

#slide-first:checked ~ .slider__wrapper > .slider__slide_first,
#slide-second:checked ~ .slider__wrapper > .slider__slide_second,
#slide-third:checked ~ .slider__wrapper > .slider__slide_third,
#slide-fourth:checked ~ .slider__wrapper > .slider__slide_fourth,
#slide-fifth:checked ~ .slider__wrapper > .slider__slide_fifth {
    opacity: 1;
}