body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.slider {
    margin: 0 auto;
    padding: 20px 40px 50px;
    width: 100%;
    max-width: 600px;
    background-color:  #25282A;
}

.slider__button {
    display: none;
}

.slider__wrapper {
    display: flex;
    height: 30vh;
    overflow: hidden;
    pointer-events: none;
}

.slider__slide {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 30vh;
    width: 100%;
    animation-name: open;
    animation-duration: .5s;
}

.slider__slide-img {
    border-radius: 10px;
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.slider__slide-name {
    color: #ffffff;
    font-size: 1rem;
    flex-shrink: 0;
    letter-spacing: 0.1rem;
    width: 100%;
}

.slider__controls {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    width: 100%;
}

.slider__button-point {
    cursor: pointer;
    padding: 7px;
    margin: 0 3px;
}

.slider__button-point div {
    background: #71ABFF;
    border: 2px solid #71ABFF;
    border-radius: 100%;
    display: block;
    height: 12px;
    width: 12px;
    transition: .5s;
}

.slider__button-point:hover div {
    background: #ffffff;
    border-color: #ffffff;
}

#slide-first:checked ~ .slider__wrapper > .slider__slide_first,
#slide-second:checked ~ .slider__wrapper > .slider__slide_second,
#slide-third:checked ~ .slider__wrapper > .slider__slide_third,
#slide-fourth:checked ~ .slider__wrapper > .slider__slide_fourth,
#slide-fifth:checked ~ .slider__wrapper > .slider__slide_fifth {
    transform: translateX(0);
    display: flex;
}

#slide-first:checked ~ .slider__controls .slider__button-point:nth-of-type(1) div,
#slide-second:checked ~ .slider__controls .slider__button-point:nth-of-type(2) div,
#slide-third:checked ~ .slider__controls .slider__button-point:nth-of-type(3) div,
#slide-fourth:checked ~ .slider__controls .slider__button-point:nth-of-type(4) div,
#slide-fifth:checked ~ .slider__controls .slider__button-point:nth-of-type(5) div {
    background: transparent;
    border: 2px solid #71ABFF;
}

#slide-first:checked ~ .slider__controls .slider__button-point:nth-of-type(1),
#slide-second:checked ~ .slider__controls .slider__button-point:nth-of-type(2),
#slide-third:checked ~ .slider__controls .slider__button-point:nth-of-type(3),
#slide-fourth:checked ~ .slider__controls .slider__button-point:nth-of-type(4),
#slide-fifth:checked ~ .slider__controls .slider__button-point:nth-of-type(5) {
    cursor: auto;
}

@keyframes open {
    0% {
        display: flex;
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        display: flex;
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .slider {
        max-width: none;
        padding-bottom: 40px;
        width: 80%;
    }

    .slider__wrapper {
        height: 45vh;
    }

    .slider__slide {
        height: 45vh;
    }

    .slider__slide-img {
        height: 90%;
    }

    .slider__slide-name {
        font-size: 1.1rem;
        width: 50%;
    }

    .slider__controls {
        justify-content: flex-end;
        margin-top: -20px;
        margin-left: auto;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {

    .slider {
        width: 80%;
    }

    .slider__wrapper {
        height: 75vh;
    }

    .slider__slide {
        height: 75vh;
    }

    .slider__slide-name {
        font-size: 1.3rem;
    }

    .slider__button-point div {
        height: 14px;
        width: 14px;
    }
}